// App Variables

$app-bg-color: #29292e;

$app-text-color-white: #FFFFFF;
$app-text-color: #b6bfc9;
$app-text-color-dark: #5b5b5e;
$app-secondary-color: #f0513f;

$app-color-gradient-1-1: #f0513f;
$app-color-gradient-1-2: #8d2055;

$app-border-color: #303038;
$app-border-em-color: #44484f;

$app-header-height: 70px;

// SW

html {
	height: 100%;
	width: 100%;
}

body {
	background-color: $app-bg-color;
	color: $app-text-color;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.text-feature {
	color: $app-secondary-color;
}

// Header

.app-header {
	position: absolute;
	top: 0;
	right: 0;
	height: $app-header-height;
	background-color: $app-bg-color;
	width: 300px;
	box-shadow: 2px 0px 38px rgba(0,0,0,0.4);
	z-index: 39;

	#close {
		display: none;
		float: right;
		line-height: $app-header-height;
		width: $app-header-height;
		text-align: center;
		font-size: 2.2em;
		&:hover {
			background-color: lighten($app-bg-color, 2%);
		}
		&:active {
			outline: none;
			outline: 0;
		}
	}

	a {
		float: left;
	}

	nav {
		margin-left: 24px;
		a {
			line-height: $app-header-height;
			margin: $app-header-height/4 12px;
			padding: 0 12px;
			text-transform: uppercase;
			font-weight: 600;
			font-size: 0.8em;
			&:hover {
				background-color: rgba(255,255,255,0.08);
			}
		}
		select {
			height: $app-header-height;
			width: 140px;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			border-radius: 0;
			border: 0;
			outline: 0;
			background-color: $app-bg-color;
			color: $app-text-color-white;
			font-size: 1.2em;
			font-weight: 300;
			margin-left: 12px;
			&:disabled, &.disabled {
				color: $app-text-color-dark;
			}
		}
	}

	.logo {
		line-height: $app-header-height/2;
		margin: $app-header-height/4 0;
		padding: 0 32px;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 1.2em;
		color: $app-text-color-white;
		span {
			font-weight: 300;
		}
	}
}

// Body

.app-body {
	position: absolute;
	background-image: url("../img/grid.png");
	background-repeat: repeat;
	background-position: bottom left;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	> header {
		position: relative;
		padding: 56px 36px 50px 182px;
		z-index: 8;
		h2 {
			color: $app-text-color-dark;
			font-size: 2.6em;
			font-weight: 300;
			span {
				color: $app-text-color-white;
			}
		}
	}
}


//

.app-chart {
	position: relative;
	top: 0;
	height: 100%;
	width: 100%;
	overflow-y: hidden;
	overflow-x: scroll;
	z-index: 2;

	// Chart Grid

	.app-chart-output {
		// TODO: Calculate data range and add top margi dynamically
		bottom: 0px;
		left: 130px;
		position: absolute;
		z-index: 3;
		g {
			position: relative;
			opacity: 0.86;
			&:hover {
				opacity: 1;
			}
		}
		rect {
			fill: #fff;
			rx: 4;
			ry: 4;
			filter:url(#dropshadow);
			&:hover {
				fill: url(#g2);
				cursor: pointer;
			}
		}
		text {
			width: 80px;
			fill: $app-text-color-white;
		}
	}
}

.app-chart-grid-wrap {
	position: absolute;
	overflow: hidden;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	.app-chart-grid-labels {
		position: absolute;
		bottom: 50px;
		left: 0px;
		z-index: 2;
		.label {
			color: $app-text-color-dark;
			width: 99px;
			text-align: center;
			height: 40px;
			margin: 30px 0 30px 0;
			line-height: 40px;
			-webkit-margin-collapse: separate;
		}
	}
}

// Overlay

.app-overlay {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 19;
	background-color: rgba(0,0,0,0.3);
}

.app-overlay-inner {
	position: absolute;
	right: 0px;
	top: 90px;
	width: 300px;
	z-index: 29;
	@extend .cf;

	.modal-video {
		display: none;
		position: relative;
		left: 0px;
		width: 300px;
		height: 169px;
		box-shadow: 2px 0px 38px rgba(0,0,0,0.4);
		background-color: $app-bg-color;
		background-image: url("../img/loader.gif");
		background-position: center center;
		background-repeat: no-repeat;
	}

	.modal-info {
		display: none;
		float: left;
		width: 300px;
		margin-top: 20px;
		background-color: $app-bg-color;
		box-shadow: 2px 0px 38px rgba(0,0,0,0.4);

		> header {
			padding: 16px;
			border-bottom: 1px solid $app-border-color;

			h3 {
				font-size: 1.6em;
				color: $app-text-color-white;
				line-height: 1.3;
				margin-bottom: 4px;
			}

			#modal-i-artist {
				text-transform: uppercase;
				color: $app-text-color-dark;
				font-weight: bold;
				font-size: 0.9em;
			}

			p#modal-i-plays {
				text-transform: uppercase;
				color: $app-text-color-dark;
				font-weight: bold;
				font-size: 0.9em;
			}
		}

		> .body {

			table, tr {
				width: 100%;
			}

			tr {
				display: block;
				padding: 12px 16px;
				border-bottom: 1px solid $app-border-color;
				&:last-child {
					border: 0;
				}
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}

			td {
				line-height: 1.6;
				display: inline-block;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				max-width: 200px;

				&:first-child {
					margin-right: 8px;
				}

				&:nth-child(2n) {
					color: $app-text-color-white;
				}
			}
		}

		> footer {
			width: 100%;
			padding: 16px;
			border-top: 1px solid $app-border-color;
			font-weight: bold;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			span {
				font-weight: normal;
			}
			a:visited {
				color: inherit;
			}
			a:active {
				outline: 0;
			}
		}
	}
}