// App Variables

$app-bg-color: #29292e;

$app-text-color-white: #FFFFFF;
$app-text-color: #b6bfc9;
$app-text-color-dark: #5b5b5e;
$app-secondary-color: #17bab8;

$app-border-color: #303038;
$app-border-em-color: #44484f;

// SW

html {
	height: 100%;
	width: 100%;
}

body {
	background-color: $app-bg-color;
	color: $app-text-color;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
}

// Header

.app-header {
	$app-header-height: 70px;
	height: $app-header-height;
	box-shadow: 2px 0px 38px rgba(0,0,0,0.4);

	.inner {
		// width: 1024px;
		margin: 0 auto;
		display: flex;
		@extend .cf; // Clearfix
	}

	a {
		float: left;
	}

	nav {
		float: right;
		margin-left: 24px;
		a {
			line-height: $app-header-height/2;
			margin: $app-header-height/4 12px;
			padding: 0 12px;
			text-transform: uppercase;
			font-weight: 600;
			font-size: 0.8em;
			&:hover {
				background-color: rgba(255,255,255,0.08);
			}
		}
	}

	input {
		width: 100%;
		height: $app-header-height/2;
		margin: $app-header-height/4 12px;
		border: none;
		padding: 0px 0px;
		flex: 1;
		outline: 0;
		font-size: 1em;
	}

	.logo {
		line-height: $app-header-height/2;
		margin: $app-header-height/4 16px $app-header-height/4 0;
		padding: 0 16px;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 1.2em;
		color: $app-text-color-white;
		border-right: 1px solid $app-border-color;
		span {
			font-weight: 300;
		}
	}
}

// Body

.app-body {
	position: relative;
	header {
		padding: 60px 36px;
		h2 {
			font-size: 2.4em;
			font-weight: 300;
		}
	}

	.inner {
		width: 1024px;
		margin: 0 auto;
		display: flex;
		@extend .cf; // Clearfix
	}
}


//

.app-chart {
	position: relative;
	height: 500px;
	width: 100%;
	overflow-y: hidden;
	overflow-x: scroll;

	// Chart Grid

	.app-chart-grid {
		background-image: url("../img/grid.png");
		background-repeat: repeat-x;
		position: absolute;
		top: 0;
		left: 0;
		height: 300px;
		min-width: 1400px;
		border-bottom: 1px solid $app-border-em-color;
		z-index: 1;
	}

	.app-chart-output {
		// TODO: Calculate data range and add top margi dynamically
		margin-top: 70px;
		margin-left: 240px;
		position: relative;
		z-index: 3;
		rect {
			fill: blue;
		}
	}

	.app-chart-grid-labels {
		position: absolute;
		top: 0;
		left: 162px;
		z-index: 2;
		.label {
			background-color: $app-bg-color;
			color: $app-text-color-dark;
			width: 100px;
			text-align: center;
			height: 100px;
			line-height: 100px;
			border-bottom: 1px solid $app-border-color;
			&:first-child {
				margin-top: 1px;
				height: 101px;
			}
			&:nth-child(3) {
				height: 97px;
				border: 0;
			}
		}
	}
}

	// Header

	.app-body-header {
		padding: 50px 60px;
		border-bottom: 1px solid $app-border-color;
		h3 {
			font-size: 1.8em;
			line-height: 1.3em;
			color: $app-text-color-dark;
		}
	}

// Info Frame

.app-info-frame {
	margin-left: 40px;
}

.app-i-headline {
	text-transform: uppercase;
	font-size: 1.8em;
	font-weight: 300;
}

.app-i-subhead {
	color: $app-secondary-color;
	font-size: 0.8em;
	margin-bottom: 12px;
}

.app-i-desc {
	font-size: 0.8em;
	line-height: 1.4;
	max-width: 340px;
}

// UNITS

// Scrobble Graph Unit

.app-u-scrobbles-graph {
	height: 180px;
	background-color: $app-secondary-color;
	color: white;
	display: flex;

	.info {
		padding: 40px 30px 40px 60px;
		.count {
			font-size: 2.4em;
			line-height: 1.2;
			font-weight: 300;
		}

		.label {
			text-transform: uppercase;
			font-size: 0.9em;
			font-weight: bold;
			color: rgba(255,255,255,0.8);
		}
	}

	.graph {
		padding: 20px 60px 0px 30px;
		flex: 1;
		overflow: hidden;
	}
}